* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0992f4;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #046ac4;
    display: flex;
    border-bottom: 2px solid #fff;
}

 ul {
    display: flex;
    margin-left: 650px;
    margin-top: 20px;
}

ul li {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 15px;
    margin: 0px 20px 0 0;
    padding: 10px;
}

ul li a {
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

ul li a:hover {
    color: #95caf8;
}

ul li a:active {
    color: #032f71;
}

 .current a {
    border-bottom: 2px solid #f9f9f9;
    border-radius: 5px;
    color:#78bff1;
    padding: 2px;
}

header .logo-info {
    display: flex;
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
}

.logo-img img {
   width: 50px;
   height: 70px;
   margin-top: 0px;
  
}

.logo-info p {
   margin-top: 20px;
   margin-left: 10px;
   font-size: 20px;
}

.logo-info h3 {
   margin-left: 20px;
   font-size: 20px;
}


.hamburger-menu-icon {
    display: none;
}

.close-burger-menu {
    display: none;
}
.about-us {
  height: 100%;
}

.apex-computer-school {
    background-color: #0992f4;
    color: #fff;
}

.apex-computer-school h1 {
    font-size: 3rem;
    background-color: #48adf6;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #fff;
}

.school-info {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.school-info p {
    font-size: 20px;
    line-height: 1.3;
    padding: 5px;
}

.school-info img {
    width: 550px;
    height: 350px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 20px;
}

/* School Lab */
.school-computer-lab {
    background-color: #0380da;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.school-computer-lab h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    margin-left: 25px;
    padding: 5px;
}

.school-lab {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0px 45px 45px 45px; 
    
}

.school-lab .lab {
    margin: 35px 15px 0 15px;
}

.school-lab .lab img {
    width: 215px;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: 0.3s
}

.school-lab .lab .lab-img {
    height: 202px;
}

.school-lab .lab img:hover {
    scale: 1.2;
}

/* Teachers */
.apex-teachers {
    background-color: #0992f4;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.about-teachers {
    font-size: 20px;
    line-height: 1.3;
    padding: 20px;
}

.apex-teachers h2 {
    font-size: 3rem;
    margin-left: 10px;
    padding: 10px;
}

.apex-teachers p {
    font-size: 20px;
}

.teachers {
    background-color: #0992f4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 0 10px 0;
   
}

.teachers-info {
    background-color: #037ad0;
    margin: 10px 50px 20px 50px;
    padding: 20px 20px 10px 20px;
    text-align: center;
    border-radius: 20px;
}

.teachers-info .teacher-name {
    font-size: 20px;
}

.teachers-info p {
    padding: 5px;
}

.teachers-info img {
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 20px;
}

/* Administration */
.admin {
    background-color: #0992f4;
    /* margin-top: 45px; */
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.admin h2 {
    font-size: 3rem;
    margin-left: 10px;
    padding: 10px;
}

.school-admin {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 15px 0 10px 0;
}

.admin-info { 
    background-color: #016dbb;
    margin: 10px 50px 0 50px;
    padding: 20px 40px 20px 40px;
    text-align: center;
    border-radius: 20px;
}

.admin-info img {
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.admin-info .admin-name {
    font-size: 20px;
    padding: 0 30px 0 30px;
    text-align: center;
}

.admin-info .admin-position {
    font-size: 25px;
    padding: 0 30px 0 30px;
    text-align: center;
}

/* Social Media Contact */
.contact-info h3 {
    text-align: center;
    padding: 15px;
}

.social-info {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 15px;
    text-align: center;
}

.social-info button {
    background-color: #32a4f6;
    color: #fff;
    margin: 2px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.social-info i {
    display: flex;
    flex-direction: column;
    color: #032f71;
    font-size: 20px;
    padding: 5px;
}

.social-info button:hover {
    background-color: #2478f7;
}


/* Address info */
.visit-info {
    background-color: #0992f4;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.address-info {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.visit-info h3 {
    background-color: #016dbb;
    font-size: 22px;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #fff;
}

.address-info .infos {
    display: flex;
    margin-top: 15px;
    padding-right: 25px;
}

.address-info .infos i {
    padding: 10px;
}

.address-info .infos p {
    font-size: 16px;
    font-weight: 600;
    color: #032f71;
    margin-top: 6px;
    padding-left: 7px;
}

footer {
    background-color: #046ac4;
    color: #fff;
    font-size: 20px;
    padding: 25px;
    text-align: center;
    border-top: 2px solid #fff;
}

/* Media Screen Size 810px */
@media (max-width: 1024px) {
    header ul {
        margin-top: 20px;
        margin-left: 190px;
    }

    header ul li a {
        font-size: 18px;
        color: #fff;
    }

    header .logo-info {
        display: flex;
        color: #fff;
        margin-left: 20px;
    }

    .logo-info h3 {
        font-size: 18px;
    }
}

@media (max-width:810px) {
     ul {
        display: flex;
        margin: 10px 10px 0 35%;
        z-index: 1;
    }

    ul li a {
        font-size: 18px;
    }
    
    header .logo-info {
        display: flex;
    }
    
    .logo-info h3 {
      font-size: 18px;
    }

    .school-info {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    text-align: left;
}

.school-info p {
    font-size: 18px;
}

.school-info img {
    width: 550px;
    height: 400px;
    margin-left: 70px;

}

/* School Lab */
.school-computer-lab h1 {
    font-size: 2.2rem;
}

.school-lab {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    margin: 15px 0 0 0px;
}

.school-lab .lab {
    margin: 0 5px 0 5px;
}

.school-lab .lab img {
    width: 150px;
    height: 120px;
    padding: 3px;
}

.school-lab .lab .lab-img {
    height: 120px;
}

.school-lab .lab img:hover {
    scale: 1.1;
}

/* Teachers */
.about-teachers {
    font-size: 20px;
    line-height: 1.3;
    padding: 20px;
}

.apex-teachers h1 {
    position: absolute;
    top: 95%;
    left: 65px;
    font-size: 2.1rem;
}

.teachers {
    background-color: #0992f4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 0 10px 0;
   
}

.teachers-info { 
    margin: 0 10px 20px 10px;
    padding: 10px 20px 5px 20px;
}

.teachers-info .teacher-name {
    font-size: 22px;
}

.teachers-info p {
    font-size: 15px;
    padding: 5px;
}

.teachers-info img {
    width: 160px;
    height: 130px;
}

/* Administration */
.admin {
    background-color: #0992f4;
    margin-top: 45px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.admin h1 {
    position: absolute;
    top: 170%;
    left: 65px;
    font-size: 2.1rem;
}

.school-admin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0 10px 0;
   
}

.admin-info { 
    background-color: #016dbb;
    margin: 0 10px 0 10px;
    padding: 10px 40px 10px 40px;
    text-align: center;
}

.admin-info img {
    width: 130px;
    height: 130px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.admin-info .admin-name {
    font-size: 17px;
    padding: 0 20px 0 20px;
}

.admin-info .admin-position {
    font-size: 20px;
    padding: 0 20px 0 20px;
}

/* Social Media Contact */
.contact-info h3 {
    text-align: center;
    padding: 15px;
}

.social-info {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 15px;
    text-align: center;
}

.social-info button {
    background-color: #32a4f6;
    color: #fff;
    margin: 2px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.social-info i {
    display: flex;
    flex-direction: column;
    color: #032f71;
    font-size: 25px;
}

/* Address info */
.address-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 15px;
}

.visit-info h3 {
    background-color: #016dbb;
    font-size: 22px;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #fff;
}

.address-info .infos {
    margin-top: 15px;
    margin-left: 10px;
    padding-right: 20px;
}

.address-info .infos p {
    font-size: 15px;
    color: #032f71;
    margin-top: 2px;
    padding-left: 20px;
}

 footer {
        font-size: 16px;
        padding: 10px;
    }
     

}

/* Media Screen Size 768px */
@media (max-width:768px) {
 ul {
        margin-top: 10px;
        margin-left: 30%;
    }

    ul li a {
        font-size: 18px;
        color: #ad0606;
    }
    
    header .logo-info {
        display: flex;
        color: #fff;
    }
    
    .logo-info h3 {
      font-size: 18px;
    }


.hamburger-menu-icon {
    display: none;
}

.close-burger-menu {
    display: none;
}

.apex-computer-school h1 {
    font-size: 2.7rem;
}

.school-info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    text-align: left;
}

.school-info p {
    font-size: 18px;
}

.school-info img {
    width: 500px;
    height: 330px;
    margin-left: 70px;

}

/* School Lab */
.school-computer-lab h1 {
    font-size: 2.5rem;
}

.school-lab {
    width: 80%;
    height: 40%;
    overflow: auto;
    display: flex;
    justify-content: center;
    margin: 15px 0 0 50px;
}

.school-lab .lab {
    margin: 0 5px 0 5px;
}

.school-lab .lab img {
    width: 150px;
    height: 120px;
    padding: 3px;
}

.school-lab .lab .lab-img {
    height: 120px;
}

.school-lab .lab img:hover {
    scale: 1.1;
}

/* Teachers */
.about-teachers {
    font-size: 20px;
    line-height: 1.3;
    padding: 20px;
}

.teachers {
    background-color: #0992f4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 0 10px 0;
   
}

.teachers-info { 
    margin: 10px 10px 20px 10px;
    padding: 10px 20px 5px 20px;
}

.teachers-info .teacher-name {
    font-size: 22px;
}

.teachers-info p {
    font-size: 15px;
    padding: 5px;
}

.teachers-info img {
    width: 160px;
    height: 130px;
}

/* Administration */
.admin {
    background-color: #0992f4;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.school-admin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0 10px 0;
   
}

.admin h2 {
    font-size: 2.5rem;
}

.admin-info { 
    background-color: #016dbb;
    margin: 0 10px 0 10px;
    padding: 10px 40px 10px 40px;
    text-align: center;
}

.admin-info img {
    width: 130px;
    height: 130px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.admin-info .admin-name {
    font-size: 17px;
    padding: 0 20px 0 20px;
}

.admin-info .admin-position {
    font-size: 20px;
    padding: 0 20px 0 20px;
}

/* Social Media Contact */
.contact-info h3 {
    text-align: center;
    padding: 15px;
}

.social-info {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 15px;
    text-align: center;
}

.social-info button {
    background-color: #32a4f6;
    color: #fff;
    margin: 2px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.social-info i {
    display: flex;
    flex-direction: column;
    color: #032f71;
    font-size: 25px;
}

/* Address info */
.address-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 15px;
}

.visit-info h3 {
    background-color: #016dbb;
    font-size: 22px;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #fff;
}

.address-info .infos {
    margin-top: 15px;
    margin-left: 10px;
    padding-right: 20px;
}

.address-info .infos p {
    font-size: 15px;
    color: #032f71;
    margin-top: 2px;
    padding-left: 20px;
}

 footer {
        font-size: 16px;
        padding: 10px;
    }

}

/* Media Screen Size 500px */
@media (max-width: 500px) {
    header ul {
        position: absolute;
        right: 2%;
        margin-top: 10px;
        z-index: 1;
    }

    header ul li {
        margin: 15px 15px 10px 50px;
        padding: 2px 0 0 0;
    }

    header ul li a {
        border: none;
        color: #fff;
    }

    .current {
        background-color: #fff;
        padding: 5px;
    }

    .logo-info {
         margin-left: 0;
    }

    .logo-info img {
        width: 90px;
        height: 120px;
        padding: 0;
   
}

.logo-info p {
    font-size: 25px;
    margin-top: 40px;
}

    .menus {
        display: none;
    }

    .hamburger-menu-icon {
        position: absolute;
        display: block;
        top: 0;
        left: 90%;
    }

    .hamburger-menu-icon .open-menu {
        position: absolute;
        margin-top: 8px;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }

    .hamburger-menu-icon .open-menu:hover {
        color: #dff632;
    }

     .close-burger-menu {
        width: 40%;
        height: 18%;
        display: none;
        position: absolute;
        left: 60%;
        top: 0;
        background-color: #032f71;
        transition: .6s ease;
        font-size: 25px;
        color: #fff;
        cursor: pointer;
    }

     .close-burger-menu .close-menu {
        position: absolute;
        left: 79%;
        margin-left: 5px;
     }

     .close-burger-menu .close-menu:hover {
        color: #95caf8;
    }

    .open-smooth {
        transition: .6s ease-out;
    }

    .close-smooth {
        transition: .8s ease-out;
    }

 header .logo-info {
        padding: 12px;
    } 

    .apex-computer-school h1 {
    font-size: 2.7rem;
}

.school-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    /* padding: 50px; */
    
}

.school-info p {
    font-size: 18px;
    text-align: left;
    margin: 0px 50px 20px 0px;
}

.school-info img {
    width: 300px;
    height: 280px;
    margin-left: 0;
}

/* School Lab */
.school-computer-lab h1 {
    font-size: 2rem;
}

/* Teachers */
.about-teachers {
    font-size: 20px;
    line-height: 1.2;
    padding: 20px;
}


.teachers {
    width: 80%;
    background-color: #0992f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0 0 45px;
    padding: 25px 0 10px 0;
}

.teachers-info { 
    padding: 10px 10px 5px 10px;
}

.teachers-info .teacher-name {
    font-size: 22px;
}

.teachers-info p {
    font-size: 14px;
    padding: 2px;
}


/* Administration */
.school-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-info { 
    width: 80%;
    background-color: #016dbb;
    margin: 5px 10px 2px 45px;
    padding: 10px 5px 10px 5px;
    text-align: center;
}

/* Social Media Contact */
.social-info button {
    background-color: #32a4f6;
    font-size: 10px;
    color: #fff;
    margin: 2px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.social-info i {
    font-size: 20px;
}

/* Address info */
.address-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    padding: 15px;
}

.visit-info h3 {
    font-size: 20px;
    padding: 10px;
}

.address-info .infos p {
    font-size: 16px;
    font-weight: 600;
    color: #032f71;
    margin-top: 2px;
    padding-left: 10px;
}
}

/* Media Screen Size 400px */
@media (max-width: 400px) {
    header ul {
        margin-bottom: 80%;
    }
   
    header ul li {
        margin-left: 40%;
       
    }

    header ul li a {
        font-size: 17px;
        color: #fff;
        
    }

    .current a {
        padding: 0px 50px 0 10px;
        margin-right: 30px;
        text-align: center;
        border-bottom: none;
    }

    .close-burger-menu {
        width: 38%;
        height: 18%;
        left: 62%;
    }

    .close-burger-menu:hover {
        color: red;
    }

    .logo-img img {
        width: 80px;
        height: 110px;
    }

    .logo-info p {
        font-size: 22px;
        margin-top: 35px;
        margin-left: 5px;
    }
    .menus {
        display: none;
    }

    .hamburger-menu-icon {
        position: absolute;
        display: block;
        top: 0;
        left: 90%;
    }

    .hamburger-menu-icon .open-menu {
        position: absolute;
        margin-top: 8px;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }

    .hamburger-menu-icon .open-menu:hover {
        color: #dff632;
    }

     .close-burger-menu {
        width: 40%;
        height: 20%;
        display: none;
        position: absolute;
        left: 60%;
        top: 0;
        background-color: #032f71;
        transition: .6s ease;
        font-size: 25px;
        color: #fff;
        cursor: pointer;
    }

     .close-burger-menu .close-menu {
        position: absolute;
        left: 79%;
        margin-left: 5px;
     }


 header .logo-info {
        padding: 12px;
    } 

    .apex-computer-school h1 {
    font-size: 2.5rem;
}

.school-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.school-info p {
    font-size: 18px;
    text-align: left;
    margin: 0px 50px 20px 0px;
}

.school-info img {
    width: 270px;
    height: 250px;
}

/* School Lab */
.school-computer-lab h1 {
    font-size: 2rem;
}

/* Teachers */
.about-teachers {
    font-size: 20px;
    line-height: 1.2;
    padding: 20px;
}


.teachers {
    width: 80%;
    font-size: 15px;
    background-color: #0992f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0 0 45px;
    padding: 25px 0 10px 0;
   
}

/* Administration */
.school-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-info { 
    width: 80%;
    background-color: #016dbb;
    margin: 0px 10px 2px 45px;
    padding: 0px 5px 10px 5px;
    text-align: center;
}

/* Social Media Contact */
.social-info button {
    padding: 3px;
}

}

/* Media Screen Size 360px */
/* @media (min-width: 300px) {
.apex-teachers h1 {
    position: absolute;
    top: 163%;
    left: 30px;
    font-size: 1.8rem;
}

    .admin h1 {
    position: absolute;
    top: 347%;
    left: 30px;
    font-size: 1.8rem;
    margin-top: 20px;
}

} */



