* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0992f4;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #046ac4;
    display: flex;
    border-bottom: 2px solid #fff;
}

 ul {
    display: flex;
    text-align: center;
    margin-left: 60%;
}

ul li {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 15px;
    margin: 0px 20px 0 0;
    padding: 10px;
}

ul li a {
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

ul li a:hover {
    color: #95caf8;
}

ul li a:active {
    color: #032f71;
}

 .current a {
    border-bottom: 2px solid #f9f9f9;
    border-radius: 5px;
    color:#78bff1;
    padding: 2px;
}

header .logo-info {
    display: flex;
    color: #fff;
  padding: 10px;

}

.logo-info h3 {
   margin-left: 20px;
  font-size: 20px;
}


.hamburger-menu-icon {
    display: none;
}

.close-burger-menu {
    display: none;
}

/* Course Page */
.course-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0442a5;
    width: 80%;
    margin-left: 150px;
}


.course-container h1 {
    font-size: 50px;
    color: #fff;
    padding: 15px;
}

.course-container p {
    font-size: 19px;
    color: #fff;
    padding: 3px;
    text-align: center;
}

/* Trending Courses */
/* .main-courses {
    background-color: #0992f4;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.main-courses h2 {
    font-size: 3rem;
    margin-left: 10px;
    padding: 10px;
}

.trending-courses {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 15px 0 10px 0;
}

.courses-info { 
    background-color: #016dbb;
    margin: 10px 50px 0 50px;
    padding: 20px 40px 20px 40px;
    text-align: center;
    border-radius: 20px;
}

.courses-info img {
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.courses-info .trending-course-name {
    font-size: 20px;
    padding: 0 30px 0 30px;
    text-align: center;
} */


.course-container .course-time {
    background-color: #0992f4;
    border: 2px solid #fff;
}


 .course-list {
    margin-top: 25px;
    margin-bottom: 45px;
    background-color: #0992f4;
    padding: 45px;
    border: 2px solid #fff;
}

.course-list h2 {
    font-size: 35px;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
}

.course-time {
    margin-top: 25px;
    margin-bottom: 45px;
    background-color: #0992f4;
    padding: 45px;
    border: 2px solid #fff;
}

.course-time h3 {
    width: 70%;
    font-size: 30px;
    color: #fff;
    margin-bottom: 15px;
    margin-left: 95px;
    text-align: center;
}

table {
    width: 100%;
}


table th {
    font-size: 28px;
    padding: 10px;
    color: #fff;
    letter-spacing: 2px;
    background-color: #035699;
    text-align: center;
    border: 1px solid #fff;
}

table td {
    padding: 6px;
    color: #e6e9fa;
    font-size: 20px;
    text-align: center;
    border: 1px solid #fff;
}

table  tr:nth-child(even) {
    background-color: #0270be;
}

table  tr:nth-child(odd) {
    background-color: #035a98;
   
}

.selected {
    background-color: #0b5f01;
}

/* Registration Form */
/* .register-online {
    background-color: #007ae4;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.register-online h3 {
    font-size: 23px;
    background-color: #fff;
    color: #077ff6;
    padding: 5px;
}

.register-online p {
    padding: 10px;
}

.register-online a {
    color: #2123b8;
}

.register-online .form  {
    margin-bottom: 10px;
    padding: 25px;
} */


/* Social Info */
.contact-info {
    background-color: #046ac4;
    border: 2px solid #fff;
}

.contact-info h3 {
    background-color: #046ac4;
    font-size: 22px;
    color: #fff;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid #fff;
}

.social-info {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 15px;
    text-align: center;
}

.social-info button {
    background-color: #32a4f6;
    color: #fff;
    margin: 2px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.social-info i {
    display: flex;
    flex-direction: column;
    color: #032f71;
    font-size: 20px;
    padding: 5px;
}

.social-info button:hover {
    background-color: #2478f7;
}

footer {
    background-color: #046ac4;
    color: #fff;
    font-size: 20px;
    padding: 25px;
    text-align: center;
}

/* Media Queries Screen Size 810px */
@media (max-width: 1024px) {
    ul {
        display: flex;
        margin: 10px 10px 0 35%;
    }

    ul li a {
        font-size: 18px;
    }
    
    header .logo-info {
        display: flex;
    }
    
    .logo-info h3 {
      font-size: 18px;
    }
     
    /* Course Page */
    .course-container {
        width: 100%;
        margin: auto;
    }
    
    .course-container h1 {
        font-size: 38px;
        text-align: center;
    }
    
    .course-container p {
        font-size: 17px;
        color: #fff;
        margin-left: 20px;
        padding: 3px;
        text-align: left;
    }
      
     .course-list {
        margin-top: 25px;
        margin-bottom: 45px;
        padding: 45px;
    }
    
    .course-list h2 {
        font-size: 35px;
        color: #fff;
        margin-bottom: 15px;
        text-align: center;
    }
    
    .course-time {
        margin-top: 25px;
        margin-bottom: 45px;
        padding: 45px;
    }
    
    .course-time h3 {
        width: 100%;
        font-size: 30px;
        margin-bottom: 15px;
        margin-left: 10px;
    }
    
    table {
        width: 100%;
    }
    
    table th {
        font-size: 28px;
        padding: 10px;
    }
    
    table td {
        padding: 6px;
        font-size: 20px;
    }

}

/* Media Queries Screen Size 810px */
@media (max-width: 810px) {
    ul {
        display: flex;
        margin: 10px 10px 0 35%;
    }

    ul li a {
        font-size: 18px;
    }
    
    header .logo-info {
        display: flex;
    }
    
    .logo-info h3 {
      font-size: 18px;
    }
     
    /* Course Page */
    .course-container {
        width: 100%;
        margin: auto;
    }
    
    .course-container h1 {
        font-size: 38px;
        text-align: center;
    }
    
    .course-container p {
        font-size: 17px;
        color: #fff;
        margin-left: 20px;
        padding: 3px;
        text-align: left;
    }
      
     .course-list {
        margin-top: 25px;
        margin-bottom: 45px;
        padding: 45px;
    }
    
    .course-list h2 {
        font-size: 35px;
        color: #fff;
        margin-bottom: 15px;
        text-align: center;
    }
    
    .course-time {
        margin-top: 25px;
        margin-bottom: 45px;
        padding: 45px;
    }
    
    .course-time h3 {
        width: 70%;
        font-size: 30px;
        margin-bottom: 15px;
        margin-left: 95px;
    }
    
    table {
        width: 100%;
    }
    
    table th {
        font-size: 28px;
        padding: 10px;
    }
    
    table td {
        padding: 6px;
        font-size: 20px;
    }

    footer {
        font-size: 16px;
        padding: 10px;
    }

}

/* Media Queries Screen Size 768px */
@media (max-width:768px) {
    ul {
        margin-top: 10px;
        margin-left: 30%;
    }

    ul li a {
        font-size: 18px;
        /* color: rebeccapurple; */
    }
    
    header .logo-info {
        display: flex;
        color: #fff;
    }
    
    .logo-info h3 {
      font-size: 18px;
    }
     
    /* Course Page */
    .course-container {
        width: 100%;
        margin: auto;
    }
    
    .course-container h1 {
        font-size: 38px;
        text-align: center;
    }
    
    .course-container p {
        font-size: 17px;
        color: #fff;
        margin-left: 20px;
        padding: 3px;
        text-align: left;
    }
      
     .course-list {
        margin-top: 25px;
        margin-bottom: 45px;
        padding: 45px;
    }
    
    .course-list h2 {
        font-size: 35px;
        color: #fff;
        margin-bottom: 15px;
        text-align: center;
    }
    
    .course-time {
        margin-top: 25px;
        margin-bottom: 45px;
        padding: 45px;
    }
    
    .course-time h3 {
        width: 70%;
        font-size: 30px;
        margin-bottom: 15px;
        margin-left: 95px;
    }
    
    table {
        width: 100%;
    }
    
    table th {
        font-size: 28px;
        padding: 10px;
    }
    
    table td {
        padding: 6px;
        font-size: 20px;
    }
    
    
    /* Registration Form */
    .register-online {
        background-color: #007ae4;
        margin-bottom: 10px;
        padding: 15px;
        text-align: center;
        border-radius: 10px;
    }
    
    .register-online h3 {
        font-size: 23px;
        background-color: #fff;
        color: #077ff6;
        padding: 5px;
    }
    
    .register-online p {
        padding: 10px;
    }
    
    .register-online a {
        color: #2123b8;
    }
    
    .register-online .form  {
        margin-bottom: 10px;
        padding: 25px;
    }
    
    
    /* Social Info */
    .contact-info {
        background-color: #046ac4;
        border: 2px solid #fff;
    }
    
    .contact-info h3 {
        background-color: #046ac4;
        font-size: 22px;
        color: #fff;
        padding: 5px;
        text-align: center;
        border-bottom: 2px solid #fff;
    }
    
    .social-info {
        background-color: rgb(255, 255, 255, 0.5);
        padding: 15px;
        text-align: center;
    }
    
    .social-info button {
        background-color: #32a4f6;
        color: #fff;
        margin: 2px;
        padding: 5px;
        border: 2px solid #fff;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .social-info i {
        display: flex;
        flex-direction: column;
        color: #032f71;
        font-size: 25px;
    }
    
    .social-info button:hover {
        background-color: #2478f7;
    }
    
    footer {
        font-size: 16px;
        padding: 10px;
    }
}

/* Media Queries Screen Size 500px */
@media (max-width: 500px) {
        header ul {
        position: absolute;
        right: 0%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        z-index: 1;
    }

    header ul li {
        margin: 25px 20px 10px 50px;
        padding: 2px 0 0 0;
    }

    header ul li a {
        border: none;
        font-size: 14px;
    }

    .current a {
        background-color: #fff;
        padding: 4px 20px 4px 20px;
        border: none;
        border-radius: 0%;
    }

    .menus {
        display: none;
    }

    .hamburger-menu-icon {
        position: absolute;
        display: block;
        top: 0;
        left: 90%;
    }

    .hamburger-menu-icon .open-menu {
        position: absolute;
        margin-top: 8px;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }

    .hamburger-menu-icon .open-menu:hover {
        color: #dff632;
    }

     .close-burger-menu {
        width: 40%;
        height: 18%;
        display: none;
        position: absolute;
        left: 60%;
        top: 0;
        background-color: #032f71;
        transition: .6s ease;
        font-size: 25px;
        color: #fff;
        cursor: pointer;
    }

     .close-burger-menu .close-menu {
        position: absolute;
        left: 79%;
        margin-left: 5px;
     }

     .close-burger-menu .close-menu:hover {
        color: #95caf8;
    }

    .open-smooth {
        transition: .6s ease-out;
    }

    .close-smooth {
        transition: .8s ease-out;
    }

 header .logo-info {
        padding: 12px;
    } 
    /* Course Page */    
    .course-container h1 {
        font-size: 38px;
        margin-bottom: 10px;
        text-align: center;
    }
      
    .course-list h2 {
        font-size: 30px;
        padding: 0px 20px 0 20px;
    }

    .course-time {
        display: none;
    }
    
    table {
        width: 80%;
    }
    
    table th {
        font-size: 20px;
        padding: 10px;
        color: #fff;
        letter-spacing: 2px;
        background-color: #035699;
        text-align: center;
        border: 1px solid #fff;
    }
    
    table td {
        padding: 6px;
        color: #e6e9fa;
        font-size: 20px;
        text-align: center;
        border: 1px solid #fff;
    }
    
    table  tr:nth-child(even) {
        background-color: #0270be;
    }
    
    table  tr:nth-child(odd) {
        background-color: #035a98;
       
    }
    
    /* Registration Form */
    .register-online {
        background-color: #007ae4;
        margin-bottom: 10px;
        padding: 15px;
        text-align: center;
        border-radius: 10px;
    }
    
    .register-online h3 {
        font-size: 23px;
        background-color: #fff;
        color: #077ff6;
        padding: 5px;
    }
    
    .register-online p {
        padding: 10px;
    }
    
    .register-online a {
        color: #2123b8;
    }
    
    .register-online .form  {
        margin-bottom: 10px;
        padding: 25px;
    }
    
   /* Social Info */
.contact-info h3 {
    font-size: 20px;
}

.social-info button {
    padding: 4px;
}

.social-info i {
    font-size: 20px;
}

}

/* Media Queries Screen Size 400px */
@media (max-width: 400px) {
.current a {
    padding: 4px 10px 4px 20px;
}

.hamburger-menu-icon {
    left: 90%;
}

 .close-burger-menu {
    width: 40%;
    height: 23%;
}

 .close-burger-menu .close-menu {
    margin-left: 3px;
 }

/* Course Page */    
.course-time {
    display: none;
}

table {
    width: 40%;
}

table th {
    font-size: 19px;
    padding: 5px;
}

table td {
    padding: 6px;
    font-size: 17px;
}

/* Registration Form */
.register-online h3 {
    font-size: 18px;
    padding: 4px;
}

.register-online p {
    padding: 5px;
}

.register-online .form  {
    padding: 20px;
}

}